# Buildkite
.buildkite/pipeline.yml

# Docker
docker-compose.yml
.dockerignore
Dockerfile

# Ansible
ansible

# git
.git
.gitmodules
.gitconfig

# mac garbage
.DS_Store

# editors
*.sublime-*
.vscode

# Compiled files
**/__pycache__/
**/*.py[cod]
**/*.o

# Development
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
