*~

# Mac OSX folder properties
.DS_Store


# test runner built with `make test`
tests/run
bench/run

# doc artifacts
html/*
docs/doxygen-build/*
docs/build/*
docs/.built-doxygen
docs/.installed-tutorial

# scratch file for testing linking
scratch.cc
a.out

# compiled artifacts
*.o
*.a
*.so*

# make artifacts
*.d
.make/*

# coverage artifacts
*.gcov
*.gcno
*.gcda

# etags
TAGS

# Local makefile overrides.
Makefile.local

.gdb_history

*.pyc

# make helper
.compiler_flags

testbin

# jenkins test output
libpy_report.xml

# tox envs
.tox/*
.cache/*

# pytest artifact
.coverage

# python support artifacts
*.egg-info/*
docs/source/tutorial/libpy_tutorial.egg-info/*
docs/source/savefig/*
dist/*

venv*/*

.dir-locals.el
