version: '3.7'

services:
  libpy27:
    image: 997938224961.dkr.ecr.us-east-1.amazonaws.com/libpy:py27-${BUILDKITE_BRANCH}
    build:
      context: .
      args:
        PYTHON_BINARY_NAME: python2.7
    privileged: true
    environment:
      - BUILDKITE_BUILD_NUMBER
      - BUILDKITE_PARALLEL_JOB
      - BUILDKITE_PARALLEL_JOB_COUNT

  libpy35:
    image: image: 997938224961.dkr.ecr.us-east-1.amazonaws.com/libpy:py35-${BUILDKITE_BRANCH}
    build:
      context: .
      args:
        PYTHON_BINARY_NAME: python3.5
    privileged: true
    environment:
      - BUILDKITE_BUILD_NUMBER
      - BUILDKITE_PARALLEL_JOB
      - BUILDKITE_PARALLEL_JOB_COUNT

  libpy36:
    image: image: 997938224961.dkr.ecr.us-east-1.amazonaws.com/libpy:py36-${BUILDKITE_BRANCH}
    build:
      context: .
      args:
        PYTHON_BINARY_NAME: python3.6
    privileged: true
    environment:
      - BUILDKITE_BUILD_NUMBER
      - BUILDKITE_PARALLEL_JOB
      - BUILDKITE_PARALLEL_JOB_COUNT
