include Makefile
include etc/detect-compiler.cc
include etc/build-and-run
include etc/ext_suffix.py
include etc/asan-path
include etc/python-version.py
include version

include LICENSE
include libpy/libpy.so
include libpy/_build-and-run
include libpy/_detect-compiler.cc
recursive-include libpy *.h
