# buildtime data
include Makefile
include etc/detect-compiler.cc
include etc/build-and-run
include etc/ext_suffix.py
include etc/asan-path
include etc/ld_flags.py
include etc/python_version.py
include version
recursive-include src/ *.cc
recursive-include include/ *.h

# runtime data
include LICENSE
include libpy/_build-and-run
include libpy/_detect-compiler.cc
recursive-include libpy *.h
